;; resources/config.edn

{
 :user_service.db/db
 ;; Change the connection string to match your environment.
 ;; In Docker Compose, we’ll reference the DB container as "db".
 {:connection-uri "jdbc:postgresql://db:5432/postgres?user=postgres&password=postgres"}

 :user_service.router/router
 {:routes :unused} ;; Or no `:routes` at all, since it's coded in the ns

 :user_service.handler/handler
 {:db     #ig/ref :user_service.db/db
  :router #ig/ref :user_service.router/router}

 :user_service.server.http/jetty
 {:handler #ig/ref :user_service.handler/handler
  :port 3000}
}
